<div class="share-body">
    <div class="account-nav">
      <p><%= link_to "基本情報", new_room_path %></p>
    </div>
  <div class="account-edit-content">
    <div class="account-edit-content-item">
      <p class="account-edit-title my-4">ルーム情報登録</p>
    </div>
    <%= render "shared/error", obj: @room %>
    <%= form_with model: @room do |f| %>
      <table>
        <tr>
          <th class="account-edit-element">
            <%= f.label :roomname ,"ルーム名" %>
            <div class="required"></div>
          </th>
          <td><%= f.text_field :roomname, placeholder: "ルーム名を入力" %></td>
        </tr>
        <tr>
          <th class="account-edit-element">
            <%= f.label :introduction ,"ルーム紹介" %>
            <div class="required"></div>
          </th>
          <td><%= f.text_area :introduction, placeholder: "ルーム説明を入力" %></td>
        </tr>
        <tr>
          <th class="account-edit-element">
            <%= f.label :price ,"料金" %>
            <div class="required"></div>
          </th>
          <td><%= f.number_field :price, placeholder: "1日あたりの料金を入力" %></td>
        </tr>
        <tr>
          <th class="account-edit-element">
            <%= f.label :address ,"住所" %>
            <div class="required"></div>
          </th>
          <td><%= f.text_field :address, placeholder: "住所を入力" %></td>
        </tr>
        <tr>
          <th class="account-edit-element">
            <%= f.label :room_img ,"ルーム画像" %>
            <div class="required"></div>
          </th>
          <td><%= f.file_field :room_img, placeholder: "選択されていません" %></td>
        </tr>
        <tr>
          <th class="account-edit-element">
            <%= f.submit "登録", class: "btn btn-primary account-edit-btn" %>
          </th>
        </tr>
      </table>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <% end %>
  </div>
</div>