<h1>検索結果:<%= @addresss.count %>件</h1>
<% @addresss.each do |address| %>
  <%= link_to room_path(address) do %>
    <div>
      <% if address.room_img? %>
        <%= image_tag address.room_img.url, :size => '200x100' %>
      <% else %>
        <%= image_tag "/assets/rails2.jpeg", :size => '200x100' %></td>
      <% end %>
      <p><%= address.roomname %></p>
      <p><%= address.address %></p>
      <p><%= "¥ #{address.price}" %></p>
    </div>
  <% end %>
<% end %>